[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinquirer = "*"
wheel = "*"
setuptools = "*"
twine = "*"
switchawsprofile = {editable = true, path = "."}

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest -svvv"
